<header class="header">
    <nav class="nav-wrap">
        <a class="nav-logo" href="#"><img class="logo" src="../../../assets/logo2.png" alt="Logo Digifred"></a>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Soluções</a>
            <li><a href="#">Comunicação</a></li>
            <li><a href="#">Trabalhe na Digi</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
        <button class="button-header">Portal do Cliente</button>
    </nav>
</header>
