<app-header></app-header>

<div class="container">
  <mat-form-field appearance="outline">
    <mat-label>Filtrar na Tabela</mat-label>
    <input
      matInput
      placeholder=""
      search
      (keyup)="applyFilter($event)"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
        <td mat-cell *matCellDef="let row">{{ row.title }}</td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Preço</th>
        <td mat-cell *matCellDef="let row">{{ row.price }}</td>
      </ng-container>
      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Marca</th>
        <td mat-cell *matCellDef="let row">{{ row.brand }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
      <tr mat-row>
        *matRowDef="let row; columns: displayedColumn">
      </tr>

      <tr *matNoDataRow>
        <td class="mat-cell" colspan="4">
          Não foi possível encontrar nenhum item solicitado {{ input.value }}
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 30]"
      aria-label="Escolha a quantidade de produtos por página"
    ></mat-paginator>
  </div>
</div>

<app-footer></app-footer>
